
header nav ul li{
display: inline-block;
padding-top: 20px;
padding-right: 10px;
font-weight: bold;
}

header{
	border-bottom-style: dashed;
	border-width: 1px;
}

body{
margin: 0px auto;
}

#centro01{
border-bottom-style: dashed;
	border-width: 1px;
width: 650px;
}

#textoart01{

width: 650px;
}
#logo{
	width: 130px;
	padding-top: 20px;
	padding-left: 10px;
}

#logorojo{
    position: relative;
	top: -180px;
	left: 1200px;
	height: 30px;
	width: 30px;
}
#bandera{
    position: relative;
	top: -180px;
	left: 1203px;
	height: 30px;
	width: 30px;
}
#mundo{
    position: relative;
	top: -180px;
	left: 1206px;
	height: 30px;
	width: 30px;
}

#gotoshop{
    position: relative;
	top: -95px;
	left: 890px;
	height: 90px;
	width: 220px;
}

#buy{
    position: relative;
	top: -30px;
	left: 600px;
}

#video01{
width: 300px;
height: 200px;
}

#video02{
width: 300px;
height: 200px;
}

#imagenesart01{
width: 500px;
}
.blacknito{
font-size: 80px;
}
.greennito{
font-size: 80px;
color: rgb(0, 182, 0);
}

li{
	font-style: bold;
}