header{
	margin:0;
	height: 140px;
	background: white;
	padding: 0;
}

header input{
	float: left;
	display: inline-block;
	position:relative;
	margin-top: 30px;
	
}

header img{
	display: inline-block;
	padding-left: 50px;
	width: 1000px;
	height: 50px;
}

body{
	background: gray;
}
#primerseccion{
	width: 15%;
	display: inline-block;
}


#primerseccionul li{
	padding-bottom: 5px;
}

#primerseccion img{
	width: 100%;
}

#segundaseccion article{
	display: inline-block;
}

.rectangulo{
	width: 23.3%;
	height: 300px;
}
